<ion-app>
  <div class="ion-page">
    <!-- Header -->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          <img src="assets/img/logos/logo_service_top_branca.svg" alt="Fleet Tracker" class="header-logo">
        </ion-title>
        
        <ion-buttons slot="end">
          <ion-button (click)="openProfile()" *ngIf="currentUser">
            <ion-icon name="person-circle" color="light"></ion-icon>
          </ion-button>
          <ion-button (click)="logout()" *ngIf="currentUser">
            <ion-icon name="log-out-outline" color="light"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <!-- Navigation Carousel -->
    <app-navigation-carousel></app-navigation-carousel>
    
    <!-- Page Content -->
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>