ion-card {
  --background: white;
  color: black;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  ion-card-header {
    --color: black;
    padding: 1rem;
  }
    ion-card-title {
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem solid black;
    }

  ion-card-content {
    --background: var(--ion-color-light);
  }
}